// @font-face {
//     font-family: OratorStd;
//     src: url("~@/assets/font/oratorstd.woff");
// }

// @font-face {
//     font-family: oratorstdslanted;
//     src: url("~@/assets/font/oratorstdslanted.woff");
// }

// @font-face {
//     font-family: YuGothicUI;
//     src: url("~@/assets/font/MS-PGothic-03.woff");
// }

// @font-face {
//     font-family: yugothl;
//     src: url("~@/assets/font/MS-PGothic-03.woff");
// }

// @font-face {
//     font-family: yugothm;
//     src: url("~@/assets/font/MS-PGothic-03.woff");
// }

// @font-face {
//     font-family: yugothr;
//     src: url("~@/assets/font/MS-PGothic-03.woff");
// }

// @font-face {
//     font-family: adam;
//     src: url("~@/assets/font/adam.woff");
// }

// @font-face {
//     font-family: fcminchotaih;
//     src: url("~@/assets/font/fcminchotaih.woff");
// }
@font-face {
    font-family: ADAMa;
    src: url('~@/assets/font/ADAMa.ttf');
}
@font-face{
    font-family: fary;
    src :url('~@/assets/font/fary.ttf');
}
// .font_oratorStd {
//     font-family: OratorStd !important;
// }

// .font_oratorstdslanted {
//     font-family: oratorstdslanted !important;
// }

// .font_yuGothicUI {
//     font-family: YuGothicUI !important;
// }

// .font_yugothl {
//     font-family: yugothl !important;
// }

// .font_yugothm {
//     font-family: yugothm !important;
// }

// .font_yugothr {
//     font-family: yugothr !important;
// }

// .font_adad {
//     font-family: adam !important;
// }

// .font_fcminchotaih {
//     font-family: fcminchotaih !important;
// }
